.contenedor {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;  /* modifica el ancho de las columnas */
    grid-template-rows: 150px 300px;   /* modifica el alto de las filas */
    gap: 20px;  /* espaciado entre elementos */
  /*   height: 800px; */    /* es necesario poner altura si quiero definir fracciones en las filas creo */

}